body {
  font-family: 'Lato';
  font-size: larger;
  background-color: #00274e;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  font-style: oblique;
  border-bottom: 1px solid #fff;
  margin: 20px;
  padding: 20px 40px;
}

.h1-part {
  font-weight: 200;
}

label.signature {
  font-style: italic;
  color: rgb(137, 137, 137);
}

hr {
  background-color: #fff;
}

select {
  max-width: 100%;
}

.tap_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.compass_wrapper {
  z-index: 1;
}
.compass {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.1;
  filter: invert(1);
}

.input_wrapper {
  flex-direction: column;
  bottom: 2rem;
  height: initial;
  z-index: 3;
}

.arrow_wrapper {
  flex-direction: column;
  z-index: 2;
}

.arrow {
  max-height: 250px;
  filter: invert(1) drop-shadow(0 0 10px #000);
}

select {
  padding: 1rem;
  font-size: larger;
  border-radius: 1rem;
}
select::-ms-expand {
  display: none;
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

body {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

label.signature {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
